/* global rules  */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --lightblue-grey: #f1f5f9;
  --light-grey: #f6f6f6;
  --bitdarker-grey: #dbdbdb;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    outline: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 29, 43, 0.25);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 24, 36);
    border-radius: 5px;
}
html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: "open sans", sans-serif;
    color: #111;
    background-color: var(--lightblue-grey);
}

ul, ol {
    list-style: none;
}

img, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;  
}

/* end global rules   */

/* main */
.main {
    display: flex;
    gap: 0;
    align-items: flex-start;
    position: relative;
}
.btnaside {
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    color: rgb(0, 66, 99);
    display: none;
    background-color: var(--light-grey);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    box-shadow: 0 0 20px #eee;
    z-index: 999;
}
@media (width <= 576px) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.01);
        backdrop-filter: blur(2px);
        z-index: 998;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
    }
    .btnaside {
        display: block;
        position: fixed;
    }
    .overlay.show {
        visibility: visible;
        opacity: 1;
    }
}
/* end main */

/* aside */
aside {
    position: sticky;
    width: 180px;
    left: 0;
    top: 0;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding: 20px 0;
    /* box-shadow: 0 10px 20px #ccc; */
    z-index: 999;
    transition: 0.3s;
}
aside::after {
    content: "";
    position: absolute;
    width: 3px;
    z-index: 1;
    height: 68px;
    background-color: var(--lightblue-grey);
    right: -3px;
    opacity: 1;
    top: 0;
}
aside h3, aside > span {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    margin: 0 auto;
    transition: 0.3s;
    color: rgb(0, 24, 36);
    text-align: center;
}
aside > span {
    display: none;
}
aside h3::before  {
    content: "";
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: rgb(0, 24, 36);
}
aside h3::after  {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -33px;
    width: 20px;
    height: 20px;
    border: 4px solid white;
    border-radius: 50%;
    background-color: rgb(0, 24, 36);
}
@media (width <= 768px) {
    aside h3 {
        display: none;
    }
    aside > span {
        display: block;
        line-height: 1;
    }
}
aside ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;
    padding-right: 0;
}
aside ul li {
    padding: 0 8px;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}
aside ul li a, aside ul li i {
    color: #111;
}
aside ul li a {
    font-weight: 500;
    transition: 0.3s;
    width: 100%;
    display: block;
    padding: 8px 0;
}
aside ul li i{
    margin-right: 10px;
}
aside ul li.active {
    padding-left: 20px;
    background-color: var(--lightblue-grey);
    position: relative;
}
aside ul li.active a, aside ul li.active i {
    color: rgb(0, 66, 99);
}
@media (width <= 768px) {
    aside {
        width: 60px;
        padding: 20px 10px 20px 10px;
        gap: 20px;
    }
    aside ul{
        padding-left: 0;
        padding-right: 0;
    }
    aside ul li {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    aside ul li a span {
        display: none;
    }
    aside ul li a {
        text-align: center;
    }
    aside ul li a i {
        margin: 0;
    }
    aside ul li.active {
    padding-left: 0;
}
}
@media (width <= 576px) {
    .main {
        position: relative;
    }
    aside {
        position: absolute;
        left: -60px;
        transition: 0.3s;
    }
    aside.active {
        position: fixed;
        left: 0;
    }
    aside::after{
        display: none;
    }

}
@media (width >= 769px) {
aside ul li.active::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 50%;
    right: 0;
    top: -20px;
    box-shadow: 12px 12px 0 0 var(--lightblue-grey);
}
aside ul li.active::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 50%;
    right: 0;
    bottom: -20px;
    box-shadow: 12px -12px 0 0 var(--lightblue-grey);
}
aside ul li:not(.active):hover {
    padding-left: 20px;
}
}

/* end  aside */

section {
    flex: 1;
    overflow: auto;
    background-color: var(--lightblue-grey);
}
.main section header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 64px;
    background-color: white;
    border-bottom-left-radius: 10px;
}
@media (width <= 576px) {
    .main section header {
        border-bottom-left-radius: 0;
    }
}
.main section header .search {
    display: flex;
    align-items: center;
    /* border: 1px solid var(--bitdarker-grey); */
    padding: 7px;
    padding-left: 10px;
    border-radius: 10px;
    gap: 10px;
    font-size: 14px;
    box-shadow: 0 0 10px #eee;
    color: var(--bitdarker-grey);
}
.main section header .search input {
    width: 120px;
    transition: 0.3s;
}
.main section header .search input:focus {
    width: 170px;
}
.main section header .search i {
    transition: 0.3s;
    transform: translateY(1px);
}
.main section header .search:has(input:focus) i {
    color : var(--grey-color)
}
.main section header  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.main section header  .icons img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgb(0, 53, 80);
}
.main section header  .icons img:hover {
    transform: scale(1.1);
}
.main section header  .icons i {
    font-size: 20px;
    color: #111;
    transform: translateY(1px);
}
.main section header  .icons span {
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    right: 38px;
}
h1 {
    margin-left: 20px;
    margin-bottom: 5px;
}
@media (width <= 768px) {
    h1 {
        margin-left: 20px;
    }
}

/* dashboard section */
.dashboard {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dashboard .wrapper {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
}
@media (width <= 576px) {
    .dashboard .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 0 15px 0px 15px;
        gap: 15px;
    }
}
.dashboard .wrapper .welcome .top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--light-grey);
    position: relative;
}

.dashboard .box {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
/* welcome */
.dashboard .welcome {
    padding: 0px;
}
.welcome .top .info  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.welcome .top .info h3 {
    font-size: 26px;
}
.welcome .top .info p {
    color: var(--grey-color);
}
.welcome .top img {
    width: 200px;
}
.welcome .top img:nth-of-type(2) {
    position: absolute;
    width: 50px;
    border-radius: 50%;
    bottom: -25px;
    left: 20px;
}
.welcome .bottom {
    padding-top: 45px;
}
.welcome .bottom .stats {
    display: flex;
    gap: 130px;
    justify-content: center;
    padding: 20px 0px 15px 0px;
    border-top: 1px solid var(--bitdarker-grey);
    border-bottom: 1px solid var(--bitdarker-grey);
    margin-bottom: 35px;
}
.welcome .bottom .stats .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.welcome .bottom .stats .stat span{
    color: var(--grey-color);   
}
.welcome .bottom .stats .stat h3 {
    font-weight: 500;
}
.welcome .bottom a {
    background-color: var(--blue-color);
    padding: 3px 10px;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
    width: fit-content;
    margin-left: auto;
    display: block;

}
.welcome .bottom a:hover {
    transform: scale(1.05);
}
@media (width <= 576px) {
    .welcome .bottom .stats {
        gap: 20px;
        align-items: center;
        padding: 18px 8px 15px 8px;
        margin-bottom: 20px;
    }
    .welcome .bottom .stats .stat {
        flex: 1 0 100px;
    }
}
/* quickdraft */
.quickdraft {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.quickdraft .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.quickdraft .info h3 {
    font-size: 26px;
}
.quickdraft .info p {
    color: var(--grey-color);
}
.quickdraft form input[type="text"], .quickdraft form textarea {
    background-color: var(--light-grey);
    padding: 5px 10px;
    border-radius: 10px;
}
 .quickdraft form textarea {
    height: 140px;
    resize: none;
 }
.quickdraft form input[type="text"]::placeholder, .quickdraft form textarea::placeholder {
    color: var(--bitdarker-grey);
}
.quickdraft form input[type="submit"] {
    background-color: var(--blue-color);
    padding: 3px 15px;
    border-radius: 10px;
    color: white;
    margin-left: auto;
    transition: 0.3s;
    cursor: pointer;
    width: fit-content;
}
.quickdraft form input[type="submit"]:hover {
    transform: scale(1.05);
}

/* targets */
.targets {
  padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.targets  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.targets  .info h3 {
    font-size: 26px;
}
.targets  .info p {
    color: var(--grey-color);
}
.targets .stat {
    display: flex;
    gap: 15px;   
    align-items: center;
    padding: 15px 20px 20px 15px;
    border: 2px solid var(--light-grey);
    border-radius: 20px;
    transition: 0.3s;
}
.targets .stat:hover {
    transform: scale(1.02);
}
.targets .stat i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--lightblue-grey);
}
.targets .stat .container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}
.targets .stat .container .progress {
    width: 100%;
    height: 5px;
    background-color: #0d6ad580;
    position: relative;
    border-radius: 5px;
    margin-top: 10px;
}
.targets .stats .stat .container .progress span {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    border-radius: 5px;
}
.targets .stat:nth-of-type(2) .container .progress {
    background-color: #f59f0b80;
}
.targets .stat:nth-of-type(3) .container .progress {
    background-color: #22c55e80;
}
.targets .stats .stat p:first-of-type {
    color: var(--grey-color);
}
.targets .stats .stat p:last-of-type {
    font-weight: bold;
}

/* tickets */
.tickets .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (width >= 2280px) {
    .tickets .cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
.tickets .cards .card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
    border: 2px solid var(--light-grey);
    padding: 15px;
    transition: 0.3s;
    align-items:center;
    justify-content: center;
}
.tickets .cards .card:hover {
    transform: scale(1.05);
}
.tickets .cards .card p {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
.tickets .cards .card span {
    color: var(--grey-color);
    font-size: 16px;
}

/* news */
.news .event img {
    width: 100px;
    border-radius: 10px;
}
.news .event {
    padding: 20px 0;
}
.news .event:not(:last-of-type) {
    border-bottom: 2px solid var(--light-grey);
}
.news .event span {
    margin-left: auto;
    background-color: var(--light-grey);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}
@media (width <= 576px) {
    .news .event {
        flex-wrap: wrap;
        gap: 10px;
        padding: 15px 0;
        
    }
    .news .event img {
        width: 110px;
    }
    .news .event .info h3 {
        font-size: 16px;
    }
}
/* tasks */
.tasks .content .task {
    padding: 15px 0;
}
.tasks .content .task:nth-child(4) {
    text-decoration: line-through;
    color: var(--grey-color);
}
.tasks .content .task:nth-child(4) .info p {
    text-decoration: line-through;
    color: var(--bitdarker-grey);
}
.tasks .content .task:not(:last-of-type) {
    border-bottom: 2px solid var(--light-grey);
}
.tasks .content .task i {
    transition: 0.3s;
    font-size: 18px;
    width: 40px;
    height: 40px;
    background-color: var(--lightblue-grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tasks .content .task i:hover {
    color: var(--red-color);
}

/* projects */
.projects .content {
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
}
.projects .content::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    width: 2px;
    background-color: var(--blue-color);
    height: 90%;
    transform: translateY(-50%);
}
.projects .step {
    display: flex;
    align-items: center;
    position: relative;
}
.projects .step p{
    margin-left: 30px;
    font-weight: 500;
}
.projects .step span{
    position: absolute;
    display: block;
    left: -9px;
    width: 20px;
    height: 20px;
    background-color: var(--blue-color);
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
}
.projects .step:nth-child(5) span{
    background-color: white;
}
.projects .step:nth-child(4) span {
    animation: fading 1.5s ease-in-out infinite;
}
@keyframes fading {
    0%, 100% {
        background-color: var(--blue-color);
    }
    50% {
        background-color: white;
    }
}

/* reminders */
.reminders .content span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
}
.reminders .content .info {
    padding-left: 15px;
    border-left: 2px solid var(--blue-color);
}
.reminders .content .reminder:nth-of-type(2) .info  {
    border-left: 2px solid var(--green-color);
}
.reminders .content .reminder:nth-of-type(4) .info  {
    border-left: 2px solid var(--red-color);
}
.reminders .content .reminder:nth-of-type(3) .info  {
    border-left: 2px solid var(--orange-color);
}

/* table */
.table {
  padding: 0 20px;  

}
@media (width <= 576px) {
    div.holder {
        padding: 15px;
    }
}
.tablediv {
    background-color: var(--lightblue-grey);
    border-radius: 7px;
    padding: 2px;
}
.tablediv table {
    width: 100%;
    border: none;
    border-spacing: 5px;
}
@media (width <= 992px) {
    .tablediv {
        overflow-x: scroll;
    }
    .tablediv table {
        min-width: 800px;
    }
}
@media (width <= 576px) {
    .table {
        padding: 0 15px;
    }
}
.tablediv table thead tr td{
    background-color: #f9fcff;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

}
.tablediv table tbody tr td {
    background-color: white;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    color: #222;
    transition: 0.2s;
}
table tbody tr:hover td{
    background-color: #f9fcff;
}
table span {
    color: white;
    padding: 4px 10px; 
    border-radius: 7px;
    font-size: 14px;
}
/* end dashboard section */

/* start settings section */
.settings .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding-top: 0;
}
@media (width <= 576px) {
    .settings .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-top: 0;
    }
}
.settings .wrapper .box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
@media (width <= 576px) {
    .settings .wrapper .box {
        padding: 15px;
    }
}
.settings .wrapper .control textarea {
    resize: none;
    border-radius: 10px;
    border: 1px solid var(--bitdarker-grey);
    padding: 10px;
    height: 150px;
}
.settings .wrapper .control textarea::placeholder {
    color: var(--bitdarker-grey);
    font-size: 14px;
}
.settings .wrapper .general form label {
    color: var(--grey-color);
    font-size: 15px;
        margin-bottom: 5px;
}
.settings .wrapper .general form input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--bitdarker-grey);
    margin-bottom: 10px;
    width: 100%;
    font-size: 14px;
}
.settings .wrapper .general form input[type="email"] {
    margin: 0;
    background-color: var(--lightblue-grey);
}
.settings .wrapper .general form span {
    color: var(--blue-color);
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}
.settings .wrapper .general form span:hover {
    color: var(--blue-alt-color);
} 
.settings .wrapper .securecontrol .pass a {
    background-color: var(--blue-color);
    color: white;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.3s;
    font-weight: 600;
}
.settings .wrapper .securecontrol > div {
    padding: 15px 0;
    border-top: 1px solid var(--bitdarker-grey);
}
.settings .wrapper .securecontrol > div:first-of-type {
    border: none;
    padding-top: 0;
}
.settings .wrapper .securecontrol .pass a:hover {
    background-color: var(--blue-alt-color);
}
.settings .wrapper .securecontrol .devices a{
    background-color: var(--light-grey);
    color: #111;
    font-weight: 600;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 15px;
}
.settings .wrapper .social form ul li {
    background-color: var(--light-grey);
    border-radius: 8px;
    font-size: 15px;
    display: flex;
    border: 1px solid var(--bitdarker-grey);
    align-items: center;
}
.settings .wrapper .social form ul li input {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border-left: 1px solid var(--bitdarker-grey);
    font-size: 14px;
} 
.settings .wrapper .social form ul li input::placeholder {
    color: var(--grey-color);
    font-size: 14px;
}
.settings .wrapper .social form ul li i {
    padding: 10px;
    width: 45px;
    text-align: center;
    font-size: 18px;
    color: var(--grey-color);
    transition: 0.3s;
}
.settings .wrapper .social form ul li:has(input:focus) i {
    color: #111;
}
.settings .wrapper .widgets form li, .settings .wrapper .backup form li {    
    display: flex;
    align-items: center;
}
.settings .wrapper .widgets form input[type="checkbox"] {
    margin-right: 10px;     
}
.settings .wrapper .widgets form label, .settings .wrapper .backup form label {
    font-weight: 500;
}
.settings .wrapper .backup form input {
    margin-right: 10px;
}
.settings .wrapper .backup .cards {
    border-top: 1px solid var(--bitdarker-grey);
    padding: 20px 10px;
} 
.settings .wrapper .backup .card { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 10px;
    font-size: 18px;
    padding: 15px 0;
    border-radius: 10px;
    border: 1px solid var(--bitdarker-grey);
    cursor: pointer;
    transition: 0.3s;
}
.settings .wrapper .backup .card:hover {
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    transform: translateY(-3px);
}                
@media (width <= 576px) {
    .settings .wrapper .backup .holder {
        padding: 0px;
    }
}                                               
/* end settings section */

/* start profile section */
.profile .container {
    padding: 0 20px;
}
@media (width <= 576px) {
    .profile {
        gap: 15px;
    }
    .profile .container {
        padding: 0 15px;
        gap: 15px;
        margin-top: 0;
    }
}
.profile .box {
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}
.profile .prof {
    padding: 0 20px;
    margin: 0 20px;
}
@media (width <= 576px) {
    .profile .prof {
        padding: 0 15px;
        margin: 0 15px;
    }
}
.profile .prof .img  {
    padding-right: 60px;
    padding-left: 40px;
    gap: 20px;
}
.profile .prof .img img {
    width: 125px;
    border-radius: 50%;
}
.profile .prof .img span{
    position: relative;
    background-color: var(--light-grey);
    width: 175px;
    height: 5px;
    border-radius: 20px;
}
.profile .prof .img span::after {
    position: absolute;
    content: "";
    background-color: var(--blue-color);
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    border-radius: 20px;
}
.profile .prof .img .rate i{
    color: orange;
}
.profile .prof .informations {
    flex: 1;
}
.profile .prof .informations .line {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    border-top: 1px solid var(--bitdarker-grey);
    padding-left: 20px;
}
.profile .prof .informations .line:first-of-type{
    border: none;
}
.profile .prof .informations .line .info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.profile .prof .informations .line .info .content {
    flex: 1 0 240px;
    display: flex;
    gap: 5px;
}
.profile .prof .informations .line p {
    color: var(--grey-color);
    font-weight: 500;
}
.profile .prof .informations .line .info .content p{
    font-size: 15px;
}
.profile .prof .informations .line .info .content span {
    font-size: 15px;
    font-weight: 500;
}
.profile .skills {
    width: 25%;
}
.profile .skills .skillsholder ul li {
    display: flex;
    gap: 10px;
    padding: 15px 5px;
    border-top: 1px solid var(--light-grey);
}
.profile .skills .skillsholder ul li:first-child {
    border: none;
    padding-top: 5px;
}
.profile .skills .skillsholder ul li span{
    background-color: var(--light-grey);
    border-radius: 8px;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 500;
}
.profile .activities {
    flex: 1;
}
.profile .activities .actsholder .act{
    display: flex;
    padding: 15px 0;
    gap: 10px;
    align-items: center;
    border-top: 1px solid var(--light-grey);
}
.profile .activities .actsholder .act:first-child {
    border: none;
    padding-top: 5px;
}
.profile .activities .actsholder .act img {
    width: 60px;
    border-radius: 50%;
}
.profile .activities .actsholder .act .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profile .activities .actsholder .act .content p {
    font-weight: 500;
}
.profile .activities .actsholder .act .content span {
    font-size: 14px;
    color: var(--grey-color);
}
.profile .activities .actsholder .act .date {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: right;
}
@media (width <= 576px) {   
    .profile .activities .actsholder .act .date {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
}
}
.profile .activities .actsholder .act .date span:not(:first-of-type) {
    font-size: 14px;
    color: var(--grey-color);
}
@media (width <= 576px) {
    .activities .actsholder .act {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
/* media */
@media (width <= 992px) {
    .profile .prof {
        flex-direction: column;
    }
    .profile .prof .img {
        padding: 20px 0 0 0;
        gap: 10px;
    }
    .profile .prof .informations {
        padding: 0 0 10px 0;
    }
    .profile .prof .informations .line {
        gap: 10px;
        padding: 20px 0;
    }
    .profile .prof  .informations .line .info {
    gap: 10px;
    }
} 
@media (width <= 1200px) {
    .profile .prof {
        flex-direction: column;
    }
    .profile .prof .img {
        padding: 20px 0 0 0;
        gap: 10px;
    }
    .profile .container{
        flex-direction: column;
    }
    .profile .container .skills {
        width: 100%;
    }
}
/* end media */
/* end profile section */

/* start projects section */
.projects .wrapper {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(500px, 1fr));
    gap: 20px;
    padding-bottom: 20px;
}
@media (width <= 576px) {
    .projects .wrapper {
        padding: 0 15px;
        gap: 15px;
        padding-bottom: 15px;
    }
}
.projects .wrapper .box {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
.projects .wrapper .box > span  {
    position: absolute;
    color: var(--grey-color);
    font-size: 14px;
    top: 20px;
    right: 20px;
}
.projects .wrapper .box .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projects .wrapper .box .info h3 {
    font-size: 20px;
}
.projects .wrapper .box .info p {
    color: var(--grey-color);
}
.projects .wrapper .box .team {
    display: flex;
    position: relative;
    height: 80px;
    padding: 20px 0;
    margin-left: 10px;
}
.projects .wrapper .box .team a img{
    width: 40px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid white;
}
.projects .wrapper .box .team a:nth-child(1) img{
    left: 0;    
}
.projects .wrapper .box .team a:nth-child(2) img{
    left: 30px;    
}
.projects .wrapper .box .team a:nth-child(3) img{
    left: 60px;    
}
.projects .wrapper .box .team a:nth-child(4) img{
    left: 90px;    
}
.projects .wrapper .box .team a:nth-child(5) img {
    left: 120px;    
}
.projects .wrapper .box ul {
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 20px 10px;
    border-top: 1px solid var(--bitdarker-grey);
    border-bottom: 1px solid var(--bitdarker-grey);
}
.projects .wrapper .box ul li {
    background-color: var(--light-grey);
    padding: 2px 7px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}
.projects .wrapper .box .price {
    padding: 20px 0 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects .wrapper .box .price span:first-child {
    position: relative;
    background-color: var(--light-grey);
    width: 250px;
    height: 5px;
    border-radius: 10px;
}
.projects .wrapper .box .price span:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--orange-color);
    width: 40%;
    height: 5px;
    border-radius: 10px;
}
.projects .wrapper .box:nth-child(2) .price span:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--green-color);
    width: 80%;
    height: 5px;
    border-radius: 10px;
}
.projects .wrapper .box:nth-child(3) .price span:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--blue-color);
    width: 100%;
    height: 5px;
    border-radius: 10px;
}
.projects .wrapper .box:nth-child(4) .price span:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--green-color);
    width: 60%;
    height: 5px;
    border-radius: 10px;
}
.projects .wrapper .box:nth-child(5) .price span:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--green-color);
    width: 65%;
    height: 5px;
    border-radius: 10px;
}
.projects .wrapper .box:nth-child(6) .price span:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--red-color);
    width: 30%;
    height: 5px;
    border-radius: 10px;
}
.projects .wrapper .box .price span:last-child {
    color: var(--blue-color);
    font-weight: 600;
}
@media (width <= 576px) {
    .projects .wrapper  {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .projects .wrapper .box{
        padding: 15px;
    }
    .projects .wrapper .box > span {
        top: 15px;
        right: 15px;
    }
    .projects .wrapper .box .info {
        gap: 5px;
    }
    .projects .wrapper .box .team {
        padding: 15px 0;
        height: 70px;
    }
    .projects .wrapper .box ul {
        padding: 15px 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .projects .wrapper .box .price {
        padding: 15px 0 5px 0 ;
    }
    .projects .wrapper .box .price span:first-child {
        width: 220px;
    }
    .projects .wrapper .box p{
        font-size: 15px;
    }
    .projects .wrapper .box{
        padding: 15px;
    }
}
/* end projects section */

/* start courses section */
.courses .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px 20px 20px;
}
@media (width <= 576px) {
    .courses .wrapper {
        padding: 0 15px;
        gap: 15px;
        padding-bottom: 15px;
    }
}
.courses .wrapper .card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    transition: 0.3s;
}
.courses .wrapper .card:hover {
    transform: translateY(-4px);
}
.courses .wrapper .card img:first-child {
    width: 70px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    top: 20px;
    left: 20px
}
.courses .wrapper .card .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-bottom: 1px solid var(--bitdarker-grey);
}
.courses .wrapper .card .content h3 {
    font-size: 20px;
}
.courses .wrapper .card .content p {
    color: var(--grey-color);
    font-size: 16px;
}
.courses .wrapper .card .price {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.courses .wrapper .card .price .div {
    color: var(--grey-color);
    font-size: 14px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.courses .wrapper .card .price .div i {
    color: var(--orange-color);
}
.courses .wrapper .card .price > span {
    font-size: 14px;
    color: var(--grey-color);
}
/* end courses section */

/* start friends section */
.friends .wrapper {
    padding: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
@media (width <= 576px) {
    .friends .wrapper {
        padding: 0 15px;
        gap: 15px;
        padding-bottom: 15px;
    }
}
.friends .wrapper .card {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    transition: 0.3s;
}
.friends .wrapper .card:hover {
    transform: translateY(-4px);
}
.friends .wrapper .card img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.friends .wrapper .card h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}
.friends .wrapper .card p {
    text-align: center;
    color: var(--grey-color);
    font-size: 14px;
    margin-bottom: 20px;
}
.friends .wrapper .card .contact {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}
.friends .wrapper .card .contact i {
    font-size: 14px;
    background-color: var(--light-grey);
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    color: var(--grey-color);
    transition: 0.3s;
}
.friends .wrapper .card .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}
.friends .wrapper .card .stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid var(--bitdarker-grey);
    border-bottom: 1px solid var(--bitdarker-grey);
    padding: 20px 0;
}
.friends .wrapper .card .stats .stat {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 15px;
    color: #222;
}
.friends .wrapper .card .stats .stat span {
    font-weight: 600;
}
.friends .wrapper .card .date {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.friends .wrapper .card .date span {
    font-size: 14px;
    color: var(--grey-color);
}
.friends .wrapper .card .date .ctrl {
    display: flex;
    gap: 5px;
}
.friends .wrapper .card .date .ctrl button {
    border-radius: 8px;
    padding: 2px 8px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.friends .wrapper .card .date .ctrl button:first-child {
    background-color:  var(--blue-color);
}
.friends .wrapper .card .date .ctrl button:last-child {
    background-color:  var(--red-color);
}
/* end friends section */

/* start files section */
.files .wrapper {
    padding: 0 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
}
@media (width <= 576px) {
    .files .wrapper {
        padding: 0 15px;
        gap: 15px;
        padding-bottom: 15px;
    }
}
.files .wrapper .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    flex: 1;
}
@media (width <= 576px) {
    .files .wrapper .cards{
        gap: 15px;
    }
}
.files .wrapper .card {
    padding: 15px;
    padding-top: 25px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.3s;
}
.files .wrapper .card:hover {
    transform: translateY(-4px);
}
.files .wrapper .card img {
    width: 60px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.files .wrapper .card i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: var(--grey-color);
    padding: 10px;
    background-color: var(--light-grey);
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
}
.files .wrapper .card i:hover {
    background-color: var(--blue-color);
    color: white;
}
.files .wrapper .card h4 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}
.files .wrapper .card p {
    font-size: 14px;
    color: var(--grey-color);
    margin-bottom: 15px;
}
.files .wrapper .card .date-size {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var(--grey-color);
    padding: 15px 0;
    padding-bottom: 0;
    border-top: 1px solid var(--bitdarker-grey);
}
.files .wrapper .upload {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 300px;
    height: fit-content;
}
.files .wrapper .upload h3 {
    font-size: 24px;
}
.files .wrapper .upload .stats .stat{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--light-grey);
}
.files .wrapper .upload .stats .stat i {
    height: 50px;
    font-size: 20px;
    width: 50px;
    background-color: var(--light-grey);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: var(--grey-color);
}
.files .wrapper .upload .stats .stat .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.files .wrapper .upload .stats .stat .info span:first-child {
    color: #222;
}
.files .wrapper .upload .stats .stat .info span:last-child {
    font-size: 14px;
    color: var(--grey-color);
}
.files .wrapper .upload .stats .stat div:last-of-type {
    color: var(--orange-color);
    font-weight: 600;
    margin-left: auto;
}
.files .wrapper .upload a {
    background-color: var(--blue-color);
    padding: 6px 17px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 600;
    transition: 0.3s;
}
.files .wrapper .upload a:hover {
    background-color: rgb(0, 66, 99);
}
.files .wrapper .upload a i {
    margin-right: 10px;
    color: white;
    animation: updown 0.8s infinite;
    transform: translateY(2px);
}
@keyframes updown {
    0%, 100% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-2px);
    }
}
/* media */
@media (width <= 768px) {
    .files .wrapper {
        flex-direction: column;
    }
    .files .wrapper .upload {
        width: 100%;
    }
}
/* media */
/* end files section */

/* start plans section */
.plans .wrapper {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding-bottom: 20px;
}
@media (width <= 576px) {
    .plans .wrapper {
        padding: 0 15px;
        gap: 15px;
        padding-bottom: 15px;
    }
}
.plans .wrapper .plan {
    background-color: #fff;
    border-radius: 10px;
    transition: 0.3s;
    padding: 20px;
}
.plans .wrapper .plan:hover {
    transform: translateY(-4px);
}
.plans .wrapper .plan .price {
    background-color: var(--green-color);
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    color: white;
    border: 3px solid white;
    outline: 3px solid var(--green-color);
}
.plans .wrapper .plan:nth-child(3) .price {
    background-color: var(--orange-color);
    outline: 3px solid var(--orange-color);
}
.plans .wrapper .plan:nth-child(2) .price {
    background-color: var(--blue-color);
    outline: 3px solid var(--blue-color);
}
.plans .wrapper .plan .price p{
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
}
.plans .wrapper .plan .price span {
    position: relative;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
}
.plans .wrapper .plan .price span::before {
    content: "$";
    position: absolute;
    top: -10px;
    left: -22px;
    font-size: 30px;
}
.plans .wrapper .plan ul {
    margin: 10px 0;
    padding: 0 10px;
}
.plans .wrapper .plan ul li{
    padding: 12px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-grey);
}
.plans .wrapper .plan ul li:last-of-type {
    border-bottom: none;
}
.plans .wrapper .plan ul li i {
    color: var(--green-color);
    margin-right: 10px;
}
.plans .wrapper .plan ul li i.yes {
    color: var(--green-color);
}
.plans .wrapper .plan ul li i.non {
    color: var(--orange-color);
}
.plans .wrapper .plan ul li span + i {
    color: var(--bitdarker-grey);
    margin-left: auto;
    font-size: 18px;
    transition: 0.3s;
}
.plans .wrapper .plan ul li span + i:hover {
    color: var(--green-color);
}
.plans .wrapper .plan:nth-child(2) ul li span + i:hover {
    color: var(--blue-color);
}
.plans .wrapper .plan:nth-child(3) ul li span + i:hover {
    color: var(--orange-color);
}
.plans .wrapper .plan a {
    background-color: var(--green-color);
    color: white;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    transition: 0.3s;
    margin-left: 10px;
}
.plans .wrapper .plan:nth-child(2) a {
    background-color: var(--blue-color);
}
.plans .wrapper .plan:nth-child(3) a {
    background-color: var(--orange-color);
}
.plans .wrapper .plan a:hover {
    transform: scale(1.04);
}
/* media */
@media (width <= 576px) {
    .plans .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .plans .wrapper .plan {
        padding: 15px;
        border-radius: 15px;
        padding-bottom: 20px;
    }
    .plans .wrapper .plan .price {
        padding: 15px;
    }
    .plans .wrapper .plan ul {
        padding: 0;
    }
    .plans .wrapper .plan ul span {
        font-size: 15px;
    }
    .plans .wrapper .plan .price p{
        font-size: 26px;
    }
    .plans .wrapper .plan .price span {
        font-size: 40px;
    }
}
/* end plans section */

